<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mapper.ReviewLikesMapper">
    <insert id="insertProfile" parameterType="Reviewlikes">
        INSERT INTO REVIEWLIKES (profileno, review_No) SELECT #{profileno}, #{review_No} FROM DUAL A WHERE NOT EXISTS (SELECT * FROM REVIEWLIKES WHERE profileno=#{profileno} AND review_No=#{review_No});
    </insert>

    <select id="selectReviewlikesNo"  resultType="Reviewlikes">
        SELECT * FROM reviewlikes WHERE profileno=#{profileno} AND review_No=#{review_No};
    </select>

    <select id="selectChklikes" parameterType="long" resultType="Reviewlikes">
        SELECT rl.chklikes FROM REVIEWLIKES rl WHERE reviewlikes_No=#{reviewlikes_No}
    </select>

    <update id="decreaseChklikes" parameterType="Reviewlikes">
        UPDATE REVIEWLIKES SET chklikes=chklikes-1 WHERE chklikes=1 AND reviewlikes_No=#{reviewlikes_No}
    </update>

    <update id="increaseChklikes" parameterType="Reviewlikes">
        UPDATE REVIEWLIKES SET chklikes=chklikes+1 WHERE chklikes=0 AND reviewlikes_No=#{reviewlikes_No}
    </update>



</mapper>