<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/magiccard.css}">
</head>

<body>
    <h2>토큰 확인</h2>
    <input type="text" th:value="${token}" style="width: 1500px;">
    <hr>
    <div th:if="${member != null}">
        <input type="text" th:value="${member.id}" readonly> <br>
        <input type="text" th:value="${member.email}" readonly>
    </div>
</body>


</html>