@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}


hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
}

label {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    
}

p {
    margin: 0;
    margin-bottom: 1.0rem;
}

.sb-nav-fixed #layoutLeftSide, .sb-topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: black;
}

.sb-nav-fixed #layoutTotal #layoutLeftSide {
    width: 225px;
    height: 10vh;
    z-index: 1001;
}

.sb-nav-fixed .sb-topnav {
    z-index: 1039;
}

/* 사이드 바 버튼 */
.bi_sidebarBtn{
    color: #EFC900;
}
/* 검색창과 버튼 */
.searchInput{
    color: #EFC900;
    border-color: #efc900;
    border-radius: 16px 0  0 16px;
    background-color: black
    /* margin-right: 10px; */
    /* box-shadow: 0 0 0 2rem rgba(239, 201, 0, 0.3); */
}

.SearchSLC{
    color: #EFC900;
    border-color: #efc900;
    width: 80px;
    height: 38px;
    border-radius: 16px;
    background-color: black;
}

.transition, form button, #forminsert .inputs label, #forminsert .inputs .insertinput {
    -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  }
  #forminsert .insertbutton, .insertbutton {
    margin-top: 15px;
    background-color: #070707;
    border: 2px solid #efc900;
    line-height: 0;
    font-size: 13px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: #efc900;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    font-weight: bold;
  }
  #forminsert .insertbutton:hover,  #forminsert .insertbutton:focus,.insertbutton:hover {
    color: white;
    background-color: #efc900;
  }
#forminsert .inputs {
    position: relative;
    height: 50px;
  }
  #forminsert .inputs:first-of-type {
    padding-top: 0;
  }
  #forminsert .inputs:last-of-type {
    padding-bottom: 0;
  }

  
  #forminsert .inputs label{
    transform-origin: left center;
    color: #efc900;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 13px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    font-weight: bold;
    z-index: 2;
    transition: all .3s ease;
    pointer-events: none;
  }
  #forminsert .inputs .insertinput {
    appearance: none;
    background-color: #070707;
    border: 2px solid #efc900;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 20px;
    color: #efc900;
    font-weight: bold;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    margin: auto 0;  
  }
  #forminsert .inputs .insertinput:focus {
    outline: none;
    background: black;
    color: #EFC900;
    font-weight: bold;
    margin-top: 30px;
    /* transform:translateY(60%); */
    
  }
  #forminsert .inputs .insertinput:valid {
    margin-top: 20px;
  }
  
  #forminsert .inputs .insertinput:valid ~ label {
    text-transform: uppercase;
    -moz-transform: translate(5px, -45px) scale(0.8);
    -ms-transform: translate(5px, -45px) scale(0.8);
    -webkit-transform: translate(5px, -45px) scale(0.8);
    transform: translate(5px, -45px) scale(0.8);
  } 
  #forminsert .inputs .insertinput:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translateY(-150%);

  }

#btnSearch{
    border-radius: 0px 16px  16px 0px; 
}
.UdtFC:focus{
	color: #EFC900;
	background-color: black;
	border-color: #EFC900;
	box-shadow: 0 0 0 0.2rem rgba(239, 201, 0, 0.3);
}

/* 사이드 */
.profileCle{

    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border-style: none;
}

.logoutBtn{
    color: #EFC900;
    font-size: 14px;
    font-weight: 300;
    margin-left: 140px;
    padding-top: 20px;
    text-decoration-line: none;
}
.sb-nav-fixed #layoutTotal #layoutLeftSide .sb-sidenav {
    padding-top: 56px;
}

.sb-nav-fixed #layoutTotal #layoutLeftSide .sb-sidenav .sb-sidenav-menu {
    background-color: black;
    overflow-y: auto;
}

.sb-nav-fixed #layoutTotal  #layoutContent {
    background-color: #070707;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/back9.png") no-repeat center/cover;
    background-size: cover;
    padding-left: 225px;
    top: 56px;
}

/* 전체 레이아웃 */
#layoutTotal {
    display: flex;
}
#formsearch{
    margin-left: auto;
}
#forminsert {
    position: relative;
    display: inline-block;
    max-width: 700px;
    min-width: 500px;
    box-sizing: border-box;
    padding: 0px 25px 20px 25px;
    background-color: #070707;
    border-radius: 40px;        
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
#layoutTotal #layoutLeftSide {
    flex-basis: 225px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    z-index: 1000;
   /* transform: translateX(-225px); /*화면 왼쪽으로 사라지 하기 위해서*/
}
/* 토글버튼 누르면 왼쪽 메뉴 숨기기 */
.sb-sidenav-toggled #layoutTotal #layoutLeftSide{
    transform: translateX(-225px);
    transition: transform 0.145s ease-in-out;
}

.sb-sidenav-toggled #layoutTotal #layoutContent {
    margin-left: -225px;
    
}

.sb-sidenav-toggled #sidebarToggle {

    transform: rotate(-180deg); /* 메뉴가 들거갈때 아이콘이 180도 돌아감 */
}
.sb-sidenav-toggled #sidebarToggle:hover{
    color: #EFC900;
}
#layoutTotal #layoutContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 56px);
    transition: margin 0.1s ease-in-out;
    /* margin-left: -225px; */
}

.mainConName{
    margin-left: 100px; 
    margin-top: 20px;
    width: 300px; 
    color:#efc900;
}

.mainConBar{
    margin-left: 100px;
    border-width: 2px; 
    width: 100px; 
    color:#efc900;
}

/* 전체레이아웃 끝 */

/* 탑메뉴 */
.sb-topnav {
    padding-left: 0;
    height: 56px;
    z-index: 10001;
}

.sb-topnav .navbar-brand {
    color: #efc900;
    width: 225px;
    margin: 0;
}


/* 왼쪽메뉴 */
.sb-sidenav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-wrap: nowrap;
}

.sb-sidenav .sb-sidenav-menu {
    flex-grow: 1;
}

.sb-sidenav .sb-sidenav-menu .nav {
    flex-direction: column;
    flex-wrap: nowrap;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
    padding: 1.75rem 1rem 0.7rem;
    font-size: 1.rem;
    font-weight: bold;
    text-transform: uppercase;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: relative;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
    font-size: 0.9rem;
    padding-right: 0.5rem;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
    display: inline-block;
    margin-left: auto;
    transition: transform 0.15s ease;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
    transform: rotate(-90deg);
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
    margin-left: 1.5rem;
    flex-direction: column;
}

.sb-sidenav .sb-sidenav-footer {
    padding: 0.5rem;
    flex-shrink: 0;
}
.mainFooter{
    background-color: #000000;
}
.mainFooterdiv{
    padding: 0.5rem;
}

/* 왼쪽 메뉴 디자인 */
.profileName{
    margin-left: 10px;
    font-size: 1.3rem;
}
.sb-sidenav-dark {
    background-color: #212529;
    color: rgba(255, 255, 255, 0.5);
}

.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
    color: #efc900;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover,
.sb-sidenav-dark .sb-sidenav-menu .nav-link:active {
    color: #efc900;
    font-weight: 600;
}

.sb-sidenav-dark .sb-sidenav-footer {
    background-color: #000000;
}


#Error404 {
    margin-left: -130px;
    margin-bottom: -70px;
}

/* 카드=================================================================================== */
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
.card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: #efc900;
    cursor: pointer;
    font-family: cursive;
    /* text-decoration: underline; */
    /* text-decoration-color:  #191c29; */
  }
  a.cardA{
    text-decoration: none;
  }
  .card:hover {
      color: black;
      /* transition: color 1s; */
      /* text-decoration: underline; */
    /* text-decoration-color:  black; */
    } 
    .card:hover:before,
    .card:hover:after {
        content: "";
        width: 104%;
        height: 102%;
        border-radius: 8px;
        background-image: linear-gradient(
          var(--rotate),
            pink,
          rgb(246, 65, 101) 43%,
          #9778c5
        );
        /* background-image: linear-gradient(
            var(--rotate),
            #5ddcff,
            #3c67e3 43%,
            #4e00c2
          ); */
        position: absolute;
        z-index: -1;
        top: -1%;
        left: -2%;
        animation: spin 2.5s linear infinite;
        /* animation: none;
        opacity: 0; */
  }
  
  .card::before {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    opacity: 1;
    transition: opacity 0.5s; 
     animation: spin 2.5s linear infinite;
}

.card::after {
      content: "";
      width: 104%;
      height: 102%;
      border-radius: 8px;
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
   
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  .bi:hover{
    fill: white;
}

/* iframe */
.iframe{
    border-color: #EFC900;
    border-width: 2px;
}