*,
*:before,
*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card1{
    height: 160px;
    width: 200px;
    position: relative;
}

input[type="radio"].card1{
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    box-shadow: 7px 7px 15px rgba(2,28,53,0.08);
    cursor: pointer;
    outline: none;
}
input[type="radio"].card1:before {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: #f9fafd;
    border: 1px solid #e2e6f3;
    border-radius: 50%;
    top: 35px;
    right: 20px;
}
input[type="radio"].card1:after {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: transparent;
    border-radius: 50%;
    top: 39.5px;
    right: 24.5px;
}
label.label1{
    position: absolute;
    margin: 20px;
    cursor: pointer;
}
h5{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px 0;
}
h2{
    font-size: 28px;
}
span.btncustom{
    font-weight: 400;
    font-size: 18px;
    color: #7b7b93;
}
input[type="radio"].card1:hover{
    transform: scale(1.05);
}
input[type="radio"].card1:checked {
    border: 3px solid #efc900;
}
input[type="radio"].card1:checked:after{
    background-color: #efc900;
}

.card10{
    height: 160px;
    width: 220px;
    position: relative;
}
input[type="text"].card10{
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    box-shadow: 7px 7px 15px rgba(2,28,53,0.08);
    cursor: pointer;
    outline: none;
}
input[type="text"].card10:before {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: #f9fafd;
    border: 1px solid #e2e6f3;
    border-radius: 50%;
    top: 35px;
    right: 20px;
}
input[type="text"].card10:after {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: transparent;
    border-radius: 50%;
    top: 39.5px;
    right: 24.5px;
}