<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>STREAM PARK</title>


	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<!-- 1. 부트스트렙용 css CDN 추가 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
	<!-- <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/home1.css?ver=2}'> -->
	<link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/KSH/profile.css}'>
    <link rel="icon" th:href="@{/images/logo.ico}">



	<style>
		.rounded-image {
			width: 250px;
			height: 250px;
			border-radius: 50%;
			overflow: hidden;
		}

		.rounded-image img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}

		.profile-images {
			display: flex;
			border-radius: 50%;

		}

		.profile-image {
			width: 250px;
			height: 250px;
			border-radius: 50%;
			margin-right: 10px;
			background-color: black;
		}

		.bi bi-plus {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			margin-right: 10px;
		}

		.col-3>button {
			border-color: transparent;
			background-color: #ffffff00;
		}
	</style>
</head>

<body class="d-flex justify-content-center">
	<div class="container">
		<header class="row">
			<h1 class="prfileText">STREAM PARK</h1>
		</header>
		<div class="text row ">
			<p class="text1">프로필을 선택하세요.</p>

		</div>
		<hr class="title_line" />
		<div class="main row d-flex justify-content-center">
			<div class="row">
				<!-- <div class="col" style="display: inline-block;"> -->
				<!-- chk가 1이면서 grade가 0 또는 1일 때 -->
				<div class="row justify-content-center" th:if="${chk eq '1' and (grade == 0 or grade == 1)}">
					<div class="col-3" th:each="obj, iterStat : ${list}" style="margin-top: 25px;" th:if="${iterStat.index == 0}">
							<button type="button" style="background-color: #ffffff00; border-color: #ffffff00;"
								data-bs-toggle="modal" data-bs-target="#profileModal"
								th:onclick="profileselect([[${obj.nickname}]],[[${obj.profileno}]])">
								<img th:src="@{/mypage/profileimage(profileno=${obj.profileno})}" class="profile-image"
									alt="프로필 이미지" data-toggle="modal" data-target="#profileModal" />
							</button>
					</div>
					<div class="col-3" id="add-button">
						<button class="plus" data-bs-toggle="modal" data-bs-target="#exampleModal">
							<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus"
								viewBox="0 0 16 16">
								<path
									d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
							</svg>
						</button>
					</div>
				</div>

				<!-- chk가 1이면서 grade가 2일 때 -->
				<div class="row justify-content-center" th:if="${chk eq '1' and grade == 2}">
					<div class="col-3" th:each="obj, iterStat : ${list}" style="margin-top: 25px;" th:if="${iterStat.index lt 2}">
							<button type="button" style="background-color: #ffffff00; border-color: #ffffff00;"
								data-bs-toggle="modal" data-bs-target="#profileModal"
								th:onclick="profileselect([[${obj.nickname}]],[[${obj.profileno}]])">
								<img th:src="@{/mypage/profileimage(profileno=${obj.profileno})}" class="profile-image" 
								alt="프로필 이미지" data-toggle="modal" data-target="#profileModal" />
							</button>
					</div>
					<div class="col-3" id="add-button">
						<button class="plus" data-bs-toggle="modal" data-bs-target="#exampleModal">
							<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus"
								viewBox="0 0 16 16">
								<path
									d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
							</svg>
						</button>
					</div>
				</div>

				<!-- chk가 1이면서 grade가 3일 때 -->
				<div class="row justify-content-center" th:if="${chk eq '1' and grade == 3}">
					<div class="col-3" th:each="obj : ${list}" style="margin-top: 25px;">
						<button type="button" style="background-color: #ffffff00; border-color: #ffffff00;"
							data-bs-toggle="modal" data-bs-target="#profileModal"
							th:onclick="profileselect([[${obj.nickname}]],[[${obj.profileno}]])">
							<img th:src="@{/mypage/profileimage(profileno=${obj.profileno})}" class="profile-image"
								alt="프로필 이미지" data-toggle="modal" data-target="#profileModal" />
						</button>
					</div>
					<div class="col-3" id="add-button">
						<button class="plus" data-bs-toggle="modal" data-bs-target="#exampleModal">
							<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus"
								viewBox="0 0 16 16" style="margin-bottom: 30px;">
								<path
									d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
							</svg>
						</button>
					</div>
				</div>

				<!-- chk가 0일 때 -->
				<div class="row justify-content-center" th:if="${chk eq '0'}">
					<div class="col-3" th:each="obj, iterStat : ${list}" th:if="${iterStat.index == 0}">
							<button type="button" style="background-color: #ffffff00; border-color: #ffffff00;"
								data-bs-toggle="modal" data-bs-target="#profileModal"
								th:onclick="profileselect([[${obj.nickname}]],[[${obj.profileno}]])">
								<img th:src="@{/mypage/profileimage(profileno=${obj.profileno})}" class="profile-image"
									alt="프로필 이미지" data-toggle="modal" data-target="#profileModal" />
							</button>
					</div>
					<div class="col-3" id="add-button">
						<button class="plus" data-bs-toggle="modal" data-bs-target="#exampleModal">
							<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus"
								viewBox="0 0 16 16">
								<path
									d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
							</svg>
						</button>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="row">
				<div class="col">
					<form th:action="@{/logout.do}" method="post" class="logout" id="logoutForm">
						<a href="#" onclick="document.getElementById('logoutForm').submit()" class="logout">Logout</a>
					</form>
				</div>
				<div class="col text-end">
					<a class="info" th:href="@{/member/info.do}">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
							class="bi bi-gear-fill" viewBox="0 0 16 16">
							<path
								d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
						</svg>
					</a>
				</div>
			</div>
		</footer>

	</div>
	<!-- 프로필 선택 모달 -->
	<div class="modal fade " id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered ">
			<div class="modal-content container">
				<div class="modal-body mb-2">
					<div class="modalBtn text-end ">
						<button type="button" class=" btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div style="display: inline-block;">
						<p style="display: inline-block; color: #EFC900;">프로필 선택</p>
					</div>
					<hr style="width: 20px;" />
					<div class="container" style="margin-left: 0;">
						<div class="row">
							<div class="col-6">
								<img id="pimg" src="" class="profile-image" alt="프로필 이미지" />
							</div>
							<div class="col-5">
								<form th:action="@{/profile/login.do}" method="post" id="form">
									<div class="mb-3">
										<label class="form-label">프로필 닉네임</label>
										<input type="text" class="form-control" name="nickname1" id="nickname1"
											th:value="${nickname1}" readonly required><br />
									</div>
									<!-- <input  type="text" style="color: black;"  th:text="${pwchk1}" th:value="${pwchk1}"> -->
									<div class="mb-3">
										<label class="form-label" id="profilepw1">암호</label>
										<input type="password" class="form-control" id="profilepw"
											name="profilepw"><br />
									</div>
								</form>
								<button type="button" data-bs-toggle="modal" data-bs-dismiss="modal" id="clearpwbutton"
									data-bs-target="#clearPwModal" class="btn btn-sm btn-warning" th:onclick="clearnickname()">암호 초기화</button>
							</div>
						</div>
					</div>
				</div>
				<div class="mx-2 mb-2 text-end">
					<button type="button" th:onclick="checkProfilepw()" class="btn btn-sm btn-warning">접속</button>
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 프로필 추가 모달 -->
	<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
		style="color: white;">
		<div class="modal-dialog modal-lg modal-dialog-centered ">
			<div class="modal-content container">
				<div class="modal-body mb-2">
					<div class="modalBtn text-end ">
						<button type="button" class=" btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div style="display: inline-block;">
						<p style="display: inline-block; color: #EFC900;">프로필</p>
						<p style="display: inline-block; color: #ffffff;">을 추가하세요.</p>
					</div>
					<hr style="width: 20px;" />
					<div class="container" style="margin-left: 0;">
						<div class="row">
							<div class="col-6">
								<!-- 사진 -->
								<div class="filebox">
									<!-- <img th:src="${default.profileimg}" alt="default profileimg"> -->
									<img th:src="@{/images/profileimg4.png}"
										style="width: 250px; height: 250px; border-radius: 50%; background-color: #ffffff00;">
								</div>
							</div>
							<div class="col-5">
								<form th:action="@{/profile/create.do}" method="post" id="form1">
									<div class="mb-3">
										<label class="form-label">프로필 닉네임</label>
										<input type="text" class="form-control" name="nickname" id="nickname"
											placeholder="닉네임" required><br />
									</div>
									<div class="mb-3">
										<label class="form-label">관심 키워드</label>
										<select class="form-select SearchSLC" name="keyword" id="keyword">
											<option value="애니">애니</option>
											<option value="액션">액션</option>
											<option value="범죄">범죄</option>
											<option value="멜로">멜로</option>
											<option value="SF">SF</option>
											<option value="판타지">판타지</option>
											<option value="코미디">코미디</option>
											<option value="로멘스">로멘스</option>
											<option value="버라이어티">버라이어티</option>
										</select>
									</div>
							</div>
							</form>
						</div>
					</div>
				</div>
				<div class="mx-2 mb-2 text-end">
					<button type="button" th:onclick="checkNickname()" class="btn btn-sm btn-warning">프로필 생성</button>
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 암호 초기화 모달 -->
	<div class="modal fade" id="clearPwModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content container">
				<div class="modal-body mb-2">
					<div class="modalBtn text-end">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div style="display: inline-block;">
						<p style="display: inline-block; color: #EFC900;">암호 초기화</p>
					</div>
					<hr style="width: 20px;" />
					<div class="container" style="margin-left: 0;">
						<div class="row">
					<!-- <div class="container" style="margin-left: 231px;">
						<div class="row justify-content-center" style="width: 300px;"> -->
							<div class="col-6" style="margin-top: 40px;">
								<img id="pimg1" src="" class="profile-image" alt="프로필 이미지" />
							</div>
							<div class="col-5">
								<form th:action="@{/profile/clearpw.do}" method="post" id="clearpwform">
									<div class="mb-3">
										<label class="form-label">프로필 닉네임</label>
										<input type="text" class="form-control" name="clearpw_nickname" id="clearpw_nickname"
											th:value="${nickname1}" readonly required><br />
									</div>
									<div class="mb-3">
										<label class="form-label">이메일</label>
										<input type="text" class="form-control" id="clearpw_email"
											name="clearpw_email"><br />
									</div>
									<div class="mb-3">
										<label class="form-label">이름</label>
										<input type="text" class="form-control" id="clearpw_name"
											name="clearpw_name"><br />
									</div>
								</form>
							</div>	
						</div>
					</div>
				</div>
				<div class="mx-2 mb-2 text-end">
					<button type="button" th:onclick="clearPw()" class="btn btn-sm btn-warning">초기화</button>
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script th:inline="javascript">

		var tmp="";

		async function profilenoFunction(profileno) {
			console.log(profileno);
			const profileno1 = document.getElementById('profileno1');
			profileno1.value = profileno;

		}

		function clearnickname(){
			console.log(tmp);
			document.getElementById('clearpw_nickname').value = tmp;
		}



		async function profileselect(nickname, profileno) {
			console.log(nickname);
			floatimage(profileno);
			const nickname1 = document.getElementById('nickname1');
			nickname1.value = nickname;
			tmp = nickname;

			const url = /*[[@{/api/profile/login.do}]]*/"";
			const headers = { "Content-Type": "application/json" };
			const body = { nickname: nickname1.value };
			const { data } = await axios.post(url, body, { headers: headers });
			console.log('반환되는 결과', data);

			if (data.result === 0) {
				document.getElementById('profilepw').style.display = "none";
				document.getElementById('profilepw1').style.display = "none";
				document.getElementById('clearpwbutton').style.display = "none";
			}
			else if (data.result === 1) {
				document.getElementById('profilepw').style.display = "inline-block";
				document.getElementById('profilepw1').style.display = "inline-block";
				document.getElementById('clearpwbutton').style.display = "inline-block";
			}
		}




		async function checkProfilepw() {
			const nickname = document.getElementById('nickname1').value;
			const profilepw = document.getElementById('profilepw').value;
			// http://127.0.0.1:9090/streampark/api/profile/profilepw.do?nickname=nickname&profilepw=1

			let url = /*[[@{/api/profile/profilepw.do}]]*/"";

			url += "?nickname=" + nickname + "&profilepw=" + profilepw
			console.log(url);

			const headers = { "Content-Type": "application/json" };
			const { data } = await axios.get(url, { headers: headers });

			if (data.result === 1) {
				document.getElementById('form').submit();
			}
			else if (data.result === 2) {
				alert("암호를 입력해주세요.");
			}
			else if (data.result === 0) {
				alert("암호가 일치하지 않습니다.");
			}
			else {
				alert(data.message);
			}
		}

		async function clearPw() {
			const clearpw_nickname = document.getElementById('clearpw_nickname').value;
			const clearpw_email = document.getElementById('clearpw_email').value;
			const clearpw_name = document.getElementById('clearpw_name').value;
			// http://127.0.0.1:9090/streampark/api/profile/profilepw.do?nickname=nickname&profilepw=1

			let url = /*[[@{/api/profile/clearpw.do}]]*/"";

			url += "?clearpw_nickname=" + clearpw_nickname +  "&clearpw_email=" + clearpw_email + "&clearpw_name=" + clearpw_name
			console.log(url);

			const headers = { "Content-Type": "application/json" };
			const { data } = await axios.get(url, { headers: headers });
			
			console.log(clearpw_nickname);

			if (data.result === 1) {
				alert("암호가 1234로 초기화되었습니다.");
				document.getElementById('clearpwform').submit();
			}
			else if (data.result === 2) {
				alert("정보를 모두 입력해주세요.");
			}
			else if (data.result === 0) {
				alert("정보가 일치하지 않습니다.");
			}
			else {
				alert(data.message);
			}
		}
	</script>


	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script th:inline="javascript">
		function floatimage(params) {
			console.log(params);
			var src1 = /*[[@{/mypage/profileimage}]]*/"";
			src1 = src1 + "?profileno=" + params;

			var src2 = /*[[@{/mypage/profileimage}]]*/"";
			src2 = src2 + "?profileno=" + params;
			
			document.getElementById('pimg').src = src1;
			document.getElementById('pimg1').src = src2;
			// document.getElementById('pimg').src=[[@{/mypage/profileimage(profileno=params)}]];
		}

		async function checkNickname() {
			const nickname = document.getElementById('nickname').value;
			// http://127.0.0.1:9090/streampark/api/profile/nickname.do?nickname=12

			let url = /*[[@{/api/profile/nickname.do}]]*/"";

			url += "?nickname=" + nickname;
			console.log(url);

			const headers = { "Content-Type": "application/json" };
			const { data } = await axios.get(url, { headers: headers });

			if (data.result === 1) {
				alert("프로필이 생성되었습니다.");
				document.getElementById('form1').submit();
			}
			else if (data.result === 2) {
				alert("닉네임을 입력해주세요.");
			}
			else if (data.result === 0) {
				alert("중복된 닉네임입니다. 다른 닉네임을 사용해주세요.");
			}
			else {
				alert(data.message);
			}
		}

	</script>

	<script th:inline="javascript">
		var chk = /*[[${chk}]]*/"";
		var grade = /*[[${grade}]]*/"";
		var profilecnt = /*[[${profilecnt}]]*/"";

		var addButton = document.getElementById('add-button');
		console.log(profilecnt);
		console.log(chk);
		console.log(grade);
		if (chk == 0 && profilecnt >= 1 ||
			(chk == 1 && (grade == 0 || grade == 1)) ||
			(chk == 1 && grade == 2 && profilecnt >= 2) ||
			(chk == 1 && grade == 3 && profilecnt >= 4)) {
			addButton.style.display = 'none';
		} else {
			addButton.style.display = 'block';
		}
	</script>


	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"
		integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous">
		</script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
		</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"
		integrity="sha512-frFP3ZxLshB4CErXkPVEXnd5ingvYYtYhE5qllGdZmcOlRKNEPbufyupfdSTNmoF5ICaQNO6SenXzOZvoGkiIA=="
		crossorigin="anonymous" referrerpolicy="no-referrer">
		</script>
	<!-- axios -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"
		integrity="sha512-nnNHpffPSgINrsR8ZAIgFUIMexORL5tPwsfktOTxVYSv+AUAILuFYWES8IHl+hhIhpFGlKvWFiz9ZEusrPcSBQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer">
		</script>


</body>

</html>