@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)) ,url("../../images/KSH/donald-duck-4985121.jpg");
}
a{
    color: #EFC900;
    text-decoration-line: none;
}
.form-control{
    background-color: #000000;
}
a:hover{
    color: rgba(239, 201, 0, 0.6);
}
/* 메인텍스트 */
.mainTitleSec{
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.mainTitleSec .mainTitle{
    color: #EFC900;
    font-size: 50px;
    font-weight: 700;
}
/* 서브텍스트 */
.subMainTitleSec{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
    color: #EFC900;
}
.subMainTitle{
    font-size: 25px;
    font-weight: 400;
    width: 304px;
}
/* 메인 입력 구간 */
.joinInputSec{
    border-color: #EFC900;
    display: flex;
    justify-content: center;
    align-content: center;
}
.joinF{
    color: #EFC900;
    border-color: rgba(92, 85, 48, 0.6);
}
.joinF:focus{
    color: #EFC900;
	background-color: black;
	border-color: #EFC900;
	box-shadow: 0 0 0 0.2rem rgba(239, 201, 0, 0.3);
}
.joinInputSec .joinInput .joinF{
    margin-bottom: 5px;
    width: 304px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
}
.joinF::placeholder {
    color: rgba(239, 201, 0, 0.6);
}
.joinF:focus{
    color: #EFC900;
}
.modalbtnSec{
    display: inline-block;
}
.modalbtn{
    margin-left: auto;
}
/* 입력[type=date] 요소 선택 */
input[type="date"] {
    /* 기본 화살표 아이콘 숨김 */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /* 배경 이미지를 사용하여 사용자 정의 아이콘 추가 */
    background-repeat: no-repeat;
    background-position: right center;
    /* 아이콘을 위한 여백 조정 */
    padding-right: 10px;
  }
  
/* 아이콘 스타일링 */
input[type="date"]::-webkit-calendar-picker-indicator {
    /* 아이콘 색상 설정 */
    color: red; /* 원하는 색상으로 변경 */
    background-color: #EFC900;
    border-radius: 50%;
    /* 아이콘의 크기와 위치 조정 */
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }
.fci{
    background-color: black;
    border-color: #EFC900;
}
.form-check-input:focus{
    border-color: #EFC900;
	box-shadow: 0 0 0 0.2rem rgba(239, 201, 0, 0.3);
}
.form-check-input:checked {
    background-color: #EFC900;
    border-color: #EFC900;
}
.form-check-label{
    color: #EFC900;
}
.SIGNbtn{
    width: 304px;
}
#idLb{
    color:rgba(0, 0, 0, 0.01);
}
.checkCol{
    margin-left: 13px;
}
.toMainSec{
    text-align: right;
}

/* 아이디 찾기 */
.findIdInput{
    display: flex;
    justify-content: center;
    align-content: center;
}
.findIdInput .joinF{
    margin-bottom: 5px;
    width: 304px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
}
.btnSec{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}
.findIdBtn{
    color: rgba(255, 255, 255, 0.479);
    background-color: rgba(239, 201, 0, 0.3);
    margin-top: 5px;
    width: 304px;
}
.loginBtn{
    width: 304px;
}
.aSec{
  width: 304px;
}
.a111{
    padding: 0;
}
/* 비밀번호 찾기 */
.form-check-input {
    background-color: black;
}
.dsf{
    background-color: black;

}

/* 버튼 폰트 */
.btn{
    font-weight: 600;
}

/* 로봇 */

.g-recaptcha {
    background-color: #000000;
    /* 추가적인 스타일링을 적용할 수 있습니다. */
}

/* 이메일 확인 코드 구역 */
.emailCodeSec{
    display: flex;
    justify-content: right;
}
.findIdInput .emailCodeSec #emailCodeBtn{
    margin-left: 10px;
}

/* 로딩 */
#uw-circle {
    width: 2vmin;
  }
.hidden{
    display: none;
}
#demo{
    padding-top: 4px;
}